@{
    ViewData["Title"] = "Kullanıcı Ayarları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3 class="card-title">Kullanıcı Ayarları</h3></div>
    <div class="card-body">
        <form asp-action="KullaniciAyarGuncelle" asp-controller="BayiSayfasi" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <h5>🔐 Şifre Değiştir</h5>
                    <input type="password" name="EskiSifre" class="form-control mb-2" placeholder="Mevcut Şifre" required />
                    <input type="password" name="YeniSifre" class="form-control mb-2" placeholder="Yeni Şifre" required />
                    <input type="password" name="YeniSifreTekrar" class="form-control mb-2" placeholder="Yeni Şifre (Tekrar)" required />
                </div>

             

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>
