@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bayi Giriş</title>
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
</head>
<body class="login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Bayi Giriş Ekranı</p>

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }

                <form asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <input name="Username" class="form-control" placeholder="Email" required />
                    </div>
                    <div class="input-group mb-3">
                        <input name="Password" type="password" class="form-control" placeholder="Şifre" required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
